
<div class="block-container relative full">
    <div class="input-title" *ngIf="title"> <h3>{{title}}</h3> </div>
    <div>
     <input class="input-number-numberbox"
            type="number"
            [min]="min"
            [max]="max"
            value="{{value}}"
            placeholder="{{placeholder}}"
            [(ngModel)]="value"
            (input)="onChange.emit($event.target.value)"
            [ngClass]="{'red-box': invalid && submitted}" />
    </div>
    <div *ngIf="validation && invalid && submitted"> <span class="validation">{{validation}}</span> </div>
</div>

