@import './src/assets/Config/Utils';

.input-number-numberbox {
    height: 30px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    outline-style: none;
    border: thin solid $color-black;
}
