@import './src/assets/Config/Utils';

.input-textareabox {
    padding: 10px;
    width: 100%;
    font-weight: bold;
    outline-style: none;
    border: thin solid $color-black;
    margin-bottom: -6px;
}
