
<div class="block-container relative full">
  <div class="flex-container row">
      <div>
        <input class="inp-cbx" id="{{id}}" type="checkbox" 
               style="display: none;" 
               (change)="onChange.emit($event.target.checked)"
               [(ngModel)]="checked" 
               [ngClass]="{'red-box': invalid && submitted}" />
        <label class="cbx" for="{{id}}"><span>
            <svg width="12px" height="10px" viewbox="0 0 12 10">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg></span><span></span></label>
      </div>
      <div *ngIf="showTitle"> <span class="checkbox-notification">{{title}}</span> </div>
  </div>
  <div *ngIf="showValidation && invalid && submitted"> <span style="left: 28px;" class="validation">{{validation}}</span> </div>
</div>


