
<loader #loaderRef > </loader>
<success #successRef > </success>

<dialog #dialogRef 
	(onCancel)="dialogRef.hideDialog()"
	(onApprove)="removeProduct(productId)" > 
</dialog>


<span class="home-add-product icon icon-plus" (click)="generateNewProduct()"></span>

<div class="page">
    <div class="body" >
        <products-list
            [products]="products$ | async"
			(onDelete)="productId=$event; dialogRef.showDialog()"
			(onEdit)="changeProduct($event)" >    
        </products-list>
    </div>
</div>
