
$color-error: #c40000;
$color-warning: #ffcc00;
$color-gray: #808080;
$color-dark-gray: #222222;
$color-bright-gray: #2C3034;
$color-white: #FFFFFF;
$color-milk-glass: #C6C8CA;
$color-milk:#EEEEEE;
$color-black: #000000;
$color-silver: #E9ECEF;
$color-grass: #4CAF50;
$color-sky: #007bff;
$color-navy: #000080;
$color-mouse: #6c757d;
