@import './Definitions';

%root {
    display: block;
    width: $root-width;

    @media screen and (min-width: $breakpoint-desktop) {
        min-width: $root_desktop-min-width;
    }

    @media screen and (max-width: $breakpoint-mobile) {
        min-width: $root_mobile-min-width;
    }
}

%page {
    display: block;
    width: $page-width;

    @media screen and (min-width: $breakpoint-desktop) {
        padding: 40px 0px;
    }

    %body {
        display: block;
        margin: $body-margin;

        @media screen and (min-width: $breakpoint-desktop) {
            width: $body_desktop-width;
        }

        @media screen and (max-width: $breakpoint-mobile) {
            width: $body_mobile-width;
        }
    }
}

%modal {
    position: relative;
    display: block;

    @media screen and (min-width: $breakpoint-desktop) {
        width: $modal_desktop-width;
    }

    @media screen and (max-width: $breakpoint-mobile) {
        min-width: $modal_mobile-min-width;
    }
}
