@import './src/assets/Config/Utils';

.validation {
    position: absolute;
    color: $color-error;
    font-size: 0.8em;
    font-weight: bold;
}

.red-box {
    border-color: $color-error;
    color: $color-error;
}

.input-title {
    height: 28px;
}



